.container {
    width: 100% !important;
    position: relative !important;
    top: 22px !important;
    zoom: 1.0 !important;
}

#texto-cabecalho {
    font-size: 180%;
    margin: 8px !important;
    float: left;
    font-family: 'Dyuthi';
    font-weight: lighter;
    padding-top: 0.2%;
}

.logo {
    width: 2.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.3%;
}

#cabecalho {
    position: absolute;
    top: 0%;
    background-color: #010648;
    width: 100%;
    right: 0%;
    height: 50px;
    font-size: 20px;
    color: whitesmoke;
}  

#imagem {
    height: 700px;
    float: left;
    margin: 10px 20px;
    position: relative;
    top: 50px;
    left: 50px;
}

#informacao {
    width: 450px;
    height: 550px;
    padding: 10px;
    float: right;
    border-style: double;
    border-radius: 10px;
    margin: 10px 20px;
    position: relative;
    right: 50px;
    
}

#informacao-descricao {
    border: 1px solid black;
    height: 400px;
    overflow: auto;
    font-size: 19px
}

#informacao-titulo {
    text-align: center;
    font-size: 30px;
}

#panel-dados {
    width: 100%;
}

#targetA {
    height: 700px;
}

#target {
    height: 700px;
}

#menu-superior {
    width: 40%;
    float: right;
}

.titulo-secundario {
    text-align: center;
    margin: 6px 12px;
}

.textos {
    margin: 0px 12px; 
    text-align: justify;
}

.menu-superior-botao {
    background-color: #010648;
    width: 40%;
    right: 0%;
    height: 50px;
    font-size: 20px;
    color: white;
    width: 32%;
}


/* MEDIA QUERIES
======================================= */

@media only screen and (max-width: 1350px) {
    .container{
        zoom: 1.2 !important; 
    }
}