#menu {
    width: 42%;
    float: right;
}

#texto-cabecalho {
    font-size: 38px;
    margin: 8px !important;
    float: left;
    font-weight: lighter;
    padding-top: 0.4%;
    font-family: 'Dyuthi', 'Verdana', 'sans-serif';
}

#cabecalho {
    position: absolute;
    top: 0%;
    background-color: #010648;
    width: 100%;
    right: 0%;
    height: 6.5%;
    font-size: 20px;
    color: whitesmoke;
}  

#imagem {
    height: 700px;
    float: left;
    margin: 3% 5%;
}

#informacao {
    width: 30%;
    height: 550px;
    padding: 10px;
    float: right;
    border-style: double;
    border-radius: 10px;
    margin: 3% 10%;
    
}

#informacao-descricao {
    border: 1px solid black;
    height: 400px;
    overflow: auto;
    font-size: 19px
}

#informacao-titulo {
    text-align: center;
    font-size: 30px;
}

#panel-dados {
    width: 100%;
}

#targetA, #target {
    height: 700px;
}

#img-sobre {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: -2%;
    margin-right: 10%;
}

#img-sobre-emanuela {
    width: 182px; 
    margin-bottom: 15%; 
    filter: contrast(120%);
}

.container {
    position: relative !important;
    top: 40px !important;
    font-family: 'Dyuthi', 'Verdana', 'sans-serif';
    font-size: 20px;
    zoom: 1.2 !important;
}

.logo {
    width: 3%;
    float: left;
    margin-left: 1%;
    margin-top: 0.3%;
}

.titulo-secundario {
    text-align: center;
}

.textos {
    margin: 3% 1%; 
    text-align: justify;
}

.textos p {
    margin-bottom: 2%;
}

.sobre {
    width: 70%;
    float: left;
    margin-left: 3%;
    text-align: justify;
}

.buttons-menu {
    border: none;
    background-color: #010648;
    width: 196px;
    right: 0;
    height: 60px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.buttons-menu:hover {
    filter: brightness(140%);
}


.participantes {
    font-size: 16px;
}

/* MEDIA QUERIES
======================================= */

@media screen and (max-width: 1440px) {
    #cabecalho {
        height: 7.5%;
    }

    #informacao {
        margin: 7%;
    }

    #menu {
        width: 53%;
    }

    .container {
        zoom: unset !important;
    }

    .logo {
        max-width: 50px;
        width: 3.7%;
        margin-top: 0.5%;
    }

    .buttons-menu {
        height: 58px;
        width: 185px;
        font-size: 17px;
    }

}

@media screen and (max-width: 1366px) {

    #cabecalho {    
        height: 8.8%;
    }

    #texto-cabecalho {
        font-size: 32px;
        padding-top: 0;
    }

    #menu {
        width: 47%;
    }

    #informacao {
        margin: 3%;
    }

    #informacao-titulo {
        height: 12%;
    }

    #informacao-descricao {
        height: 66%;
    }

    .buttons-menu {
        height: 54px;
        width: 154.7px;
    }

    .container {
        zoom: unset !important;
    }

    .participantes {
        font-size: 12px;
    }

}

@media screen and (max-width: 1024px) {

    #cabecalho {
        height: 6.5%;
    }
    
    #texto-cabecalho {
        font-size: 30px;
        padding-top: 0.7%;
    }

    #imagem {
        margin: 0;
    }

    #informacao {
        margin: 1%;
    }

    #menu {
        width: 50%;
    }

    .logo {
        width: 4.7%;
    }

    .buttons-menu {
        height: 50px;
        width: 122px;
        font-size: 13.5px;
    }

    .sobre {
        width: 63%;
    }
    
}

@media screen and (max-width: 768px) {

    #cabecalho {
        height: 8%;
    }

    #texto-cabecalho {
        font-size: 22px;
        width: 22%;
    }

    #menu {
        width: 67%;
    }

    #informacao {
        width: 90%;
        margin: 2.5%;
    }

    #imagem {
        margin: 5%;
    }
    
    .logo {
        width: 6.5%;
        margin-top: 1.3%;
        margin-left: 2%;
    }

    .buttons-menu {
        height: 61px;
    }

    .sobre {
        width: 57%;
    }

}