#menu {
    width: 38.6%;
    float: right;
}

#texto-cabecalho {
    font-size: 35px;
    margin: 0.65% !important;
    float: left;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Verdana', 'sans-serif';
    color: white;
}

#cabecalho {
    position: absolute;
    top: 0%;
    background-color: #010648;
    width: 100%;
    right: 0%;
    height: 6.5%;
    font-size: 20px;
}  

#imagem {
    height: 700px;
    float: left;
}

#informacao {
    width: 33%;
    height: 620px;
    padding: 1.2%;
    float: right;
    border-style: double;
    border-radius: 10px;
    margin: 2% 6%;
}

#informacao-descricao {
    border: 1px solid black;
    height: 73%;
    overflow: auto;
    font-size: 19px
}

#informacao-titulo {
    text-align: center;
    font-size: 30px;
}

#panel-dados {
    width: 100%;
}

#targetA, #target {
    height: 700px;
}

#img-sobre-emanuela {
    width: 182px;
    filter: contrast(120%);
}

.container {
    zoom: 1.1 !important;
}

.img-sobre {
    display: flex;
    justify-content: center;
    margin: 2.5%;
}

.container {
    margin: 6%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Verdana', 'sans-serif';
    font-size: 18px;
}

.logo {
    width: 3%;
    float: left;
    margin-left: 1%;
    margin-top: 0.3%;
}

.titulo-secundario, .img-conceito {
    text-align: center;
}

.textos p, .img-conceito img {
    margin: 2% 0;
}

.buttons-menu {
    border: none;
    background-color: #010648;
    width: 180px;
    right: 0;
    height: 60px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.buttons-menu:hover {
    background-color: #001d6b;
}


.participantes {
    font-size: 16px;
}


/* MEDIA QUERIES
======================================= */


@media screen and (max-width: 1440px) {

    #cabecalho {
        height: 7.5%;
    }

    #menu {
        width: 51.1%;
    }

    #informacao {
        margin: 0;
    }

    #informacao-titulo {
        height: 10%;
    }

    #informacao-descricao {
        height: 69%;
    }

    .container {
        zoom: 0 !important;
    }    

    .logo {
        max-width: 50px;
        width: 3.7%;
        margin-top: 0.5%;
    }

    .buttons-menu {
        height: 58px;
        font-size: 17px;
    }

}

@media screen and (max-width: 1366px) {

    #cabecalho {    
        height: 7%;
    }

    #texto-cabecalho {
        font-size: 32px;
    }

    #menu {
        width: 46.4%;
    }

    #informacao {
        margin: 3%;
        height: 585px;
    }

    #informacao-descricao {
        height: 68%;
    }

    .buttons-menu {
        height: 54px;
        width: 154.7px;
    }

    .participantes {
        font-size: 12px;
    }

}

@media (min-width:1025px) and (max-width: 1366px) {

    #informacao-titulo {
        height: 12%;
    }

}

@media (min-width:1024px) and (max-width:1200px) {
    
    #menu {
        width: 47.6%;
    }

    .buttons-menu {
        font-size: 14px;
        width: 139px;
    }

}

@media screen and (max-width: 1024px) {

    #cabecalho {
        height: 6.5%;
    }
    
    #texto-cabecalho {
        font-size: 30px;
    }

    #informacao {
        margin: 1%;
    }

    #menu {
        width: 49.2%;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
    }

    .logo {
        width: 4.7%;
    }

    .buttons-menu {
        height: 50px;
        width: 122px;
        font-size: 13.5px;
    }

    .sobre {
        width: 63%;
    }
    
}

@media screen and (max-width: 920px) {
    
    #texto-cabecalho {
        font-size: 26px;
        margin: 1.2% !important;
    }

    #menu {
        width: 54.7%
    }

    #imagem {
        margin: 5% 9%;
    }

    #informacao {
        width: 90%;
        margin: 0 2%;
        padding: 2.5%;
    }

    #informacao-titulo {
        height: unset;
    }

    #informacao-descricao {
        height: 75%;
    }

}

@media screen and (max-width: 768px) {

    #cabecalho {
        height: 8%;
    }

    #texto-cabecalho {
        font-size: 22px;
        width: 22%;
    }

    #menu {
        width: 65.5%;
    }
    
    .logo {
        width: 6.5%;
        margin-top: 1.3%;
        margin-left: 2%;
    }

    .buttons-menu {
        height: 61px;
    }

    .participantes {
        font-size: 14px;
    }

    .sobre {
        width: 57%;
    }

}